<!DOCTYPE html>
<html lang="en">
<head>
  <title>Scrabble</title>
</head>
<body>
    <div class="container">
        <h3>Let's play</h3>
        <form action="/scrabble_logic" class="form-group" method="post">
            <label for="scrabble_input">Please enter your word below to find the Scrabblized value:</input>
            <input id="scrabble_input" name="scrabble_input" class="form-control" type="text" placeholder="enter word here">
            <button type='submit' class='btn btn-success'>Go</button>
        </form>
    </div>
</body>
</html>
