<!DOCTYPE html>
<html lang="en">
<head>
  <title>Scrabble</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
  <!-- <link rel="stylesheet" href="../web/css/style.css"> -->

</head>
<body>
    <div class="container">
        <div class="col-md-4"></div>
        <div class="col-md-4"><h2><span class="text-warning">Let's play!</span></h2></div>
        <div class="col-md-4"></div>

        <form action="/scrabble_logic" method="post" class="form-inline">
            <div class="form-group">
                <label for="scrabble_input">Please enter your word below to find the Scrabblized value:</input>
                <input id="scrabble_input" name="scrabble_input" class="form-control" type="text" placeholder="enter word here" autofocus="autofocus">
                <button type='submit' class='btn btn-success'>Go</button>
            </div>
        </form>
    </div>
</body>
</html>
